build/
.vscode/
.vs/
.idea/
*.old
*.dll
*.exe
*.zip
*.wav
.DS_Store
root_dev/
root_dev_srv/
Folder.DotSettings.user
CMakeSettings.json
poggers_decoder
m17_decoder/libcorrect
SDR++.app
android/deps
android/app/assets
valgrind*
root
proxy
go.work
*.pcap
xxx
android-sdr-kit*
*.ipynb
.paras
tlf*
android.*
android/app/bin
android/app/.cxx
android/.gradle
android/gradle
local.properties
cmake-build*
libc-src
*.swp
*.keystore
*.new
*.log
*.py
